@import '~antd/dist/antd.css';
.ant-layout-header{
  background: #fff;
}

body, html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Barlow,Helvetica,Arial,sans-serif;
  padding: 0;
  margin: 0;
  background: #e6eefb;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.text-center{
  text-align: center;
}
.capsule {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
.masthead {
  width: 100%;
  height: 100px;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px 0;
}
.left-content{
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 5px;
}

.right-content{
  border-radius: 5px;
  padding: 20px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}
.right-content p{
  font-size: 16px;
  font-family: Barlow,sans-serif;
}
.label{
  font-family: Playfair Display,serif;
  padding: 15px 0;
}
.small-text{
  font-size: 14px;
  font-family: Barlow,sans-serif;
}
.min{
  float: left;
  font-size: 12px;
  color: #565656;
}
.max{
  float: right;
  font-size: 12px;
  color: #565656;
}
.sidearea{
  padding-bottom: 16px;
}
.sidearea p{
  margin: 0;
}
.ant-slider-margin{
  margin: 14px 6px 1px;
}
.ant-switch-size{
  height: 30px;
  min-width: 60px;
}
.ant-switch:after{
  width: 26px;
  height: 26px;
}
.ant-divider-horizontal{
  margin: 24px 0 0 0 ;
}
@media (max-width: 575px){
  .active-margin{
    margin-bottom: 10px;
  }
}
/* @media screen and (max-width: 751px) and (max-width: 756px){
  .max-height{
    min-height: 48px;
  }
} */